venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
*.sqlite3
.DS_Store
*.egg
*.egg-info
.eggs
*.log
*.pot
*.pyc
*.pyo
*.pyd
.python-version
*.sublime-project
*.sublime-workspace
.pytest_cache
.coverage
.cache
.idea
.vscode
*.iml
